body{
  font-family: 'Dosis', sans-serif;
}
#root {
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.pelicula {
  margin: 1rem;
  border: 1px solid gray;
  border-radius: 12px;
}

@media screen and (min-width: 600px) {
  .pelicula {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .pelicula {
    flex: 1 1 calc(33% - 2rem);
  }
}
.pelicula__titulo{
  text-align: center;
  padding: 5px;
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
   background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-radius: 12px;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  border: transparent;
}
img{
display: block;
margin: 1rem auto;
max-width: 100%;
}
.pelicula__descripcion, .pelicula__director{
  padding: 0 2.5rem 2.5rem;
  text-align: center;
  margin: 0;
}
